/* Galerie */
.gallery {
  margin-top: 20px;
}

.gallery figure {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  height: 100%;
  background-color: #f5f5f5;
}


.gallery img {
  width: 100%;
  height: 200px; 
  object-fit: cover;
  display: block;
  transition: transform 0.3s;
}

.gallery figure:hover img {
  transform: scale(1.05);
}

.caption {
  background-color: rgba(0,0,0,0.6);
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 0.9rem;
  line-height: 1.2;
}

.columns.is-variable.is-4 {
  margin-left: -1rem;
  margin-right: -1rem;
}

.columns.is-variable.is-4 .column {
  padding-left: 1rem;
  padding-right: 1rem;
}
